html, body {
	height: 100%;
}
.my_loginDiv {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: auto;
    padding: 15px 5px;
    width: 320px;
    height: 100%;
    text-align: center;
}

.control-label i {
	font-size: 20px; 
}

.my_loginInput {
	border: none;
	box-shadow: 0 0 0;
	border-radius:0px;
}
.my_loginInput:focus {
	box-shadow: 0 0 0;
}